* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

sup {
  color: #888;
  font-size: 10px;
  margin-left: 5px;
}

.center {
  text-align: center;
}

.container {
  margin: 40px auto;
  max-width: 960px;
}

.soundbites {
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.box {
  background-color: white;
  border: 3px solid black;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Helvetica Neue', sans-serif;
  flex-grow: 1;
  height: 50px;
  line-height: 1;
  margin: 10px;
  padding: 5px 20px;
  position: relative;
  transition: margin 100ms ease-in-out, box-shadow 100ms;
  -webkit-tap-highlight: none;
  outline: none;
  z-index: 1;
}

button.box:hover {
  border: 3px solid #1565C0;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
  color: #1565C0;
  margin-top: 8px;
  margin-bottom: 12px;
}

button.box:active {
  box-shadow: none;
  margin-bottom: 8px;
  margin-top: 12px;
}

button.box.playing {
  color: #1565C0;
  border: 3px solid #1565C0;
}

span.progress {
  background-color: #1565C0;
  bottom: 0;
  opacity: 0;
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
}

.playing span.progress {
  opacity: 1;
  width: 100%;
}

#random-mode:hover #random-mode-icon {
  background-position: -24px;
}

#random-mode-icon {
  display: block;
  margin: 0 auto;
  background-image: url("../assets/img/shuffle.svg");
  background-repeat: no-repeat;
  background-position: 0;
  width: 24px;
  height: 24px;
  transition: transform 250ms;
}

.random #random-mode:hover #random-mode-icon {
  background-position: -48px;
}

.random #random-mode {
  color: #1565C0;
  border: 3px solid #1565C0;
}

.random #random-mode-icon {
  background-position: -48px;
  /*transform: rotate(360deg)*/
}
